<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/css/brasil.css" />
    <title>Brasil</title>
</head>

<body>
    <header>
        <!-- aqui va el navbar -->
    </header>
    <main>
        <div class="banner"></div>

        <section class="lugares_turisticos">
            <h1>Lugares Turisticos</h1>
            <div class="card_container">
                <div class="cards1">
                    <div class="imagen_card"></div>
                    <h2>RÍO DE JANEIRO</h2>
                    <p>
                        Río de Janeiro es uno de los destinos más icónicos de Brasil y del mundo. Rodeada de montañas, playas
                        doradas y selvas tropicales, esta ciudad ofrece una mezcla única de naturaleza y cultura urbana. El
                        Cristo Redentor, una de las siete maravillas del mundo moderno, corona el cerro del Corcovado con
                        vistas panorámicas espectaculares.
                        El Pan de Azúcar y el teleférico ofrecen otra perspectiva inolvidable de la bahía de Guanabara.
                        Además, sus barrios vibrantes como Lapa y Santa Teresa, su gastronomía local, y su famosa vida
                        nocturna, convierten a Río en un lugar lleno de energía. Y si visitas en febrero, podrás vivir el
                        Carnaval más grande del planeta.
                    </p>
                </div>
                <div class="cards2">
                    <div class="imagen_card"></div>
                    <h2>FOZ DO IGUAÇU</h2>
                    <p>
                        Ubicada en el extremo sur de Brasil, Foz do Iguaçu es conocida mundialmente por albergar las
                        imponentes Cataratas del Iguazú, una de las mayores maravillas naturales del mundo. Esta gigantesca
                        red de más de 270 saltos de agua en plena selva atlántica ofrece paisajes que quitan el aliento.
                        El Parque Nacional do Iguaçu, Patrimonio de la Humanidad por la UNESCO, permite disfrutar de
                        senderos ecológicos, paseos en lancha y miradores cercanos a los saltos. Además, Foz se encuentra en
                        la Triple Frontera con Argentina y Paraguay, lo que la convierte en un punto de encuentro cultural y
                        comercial muy interesante. También es sede de la imponente Represa de Itaipú, una de las
                        hidroeléctricas más grandes del mundo.
                    </p>
                </div>
                <div class="cards3">
                    <div class="imagen_card"></div>
                    <h2>AMAZONAS</h2>
                    <p>
                        El Amazonas brasileño es una región majestuosa que representa la mayor selva tropical del planeta,
                        con una biodiversidad inigualable. Navegar por el río Amazonas, explorar la selva con guías locales
                        y visitar comunidades indígenas permite una experiencia única de conexión con la naturaleza y las
                        culturas ancestrales.
                        La ciudad de Manaos, puerta de entrada al Amazonas, ofrece una interesante mezcla de arquitectura
                        histórica, mercados exóticos y acceso a reservas naturales. Entre las actividades imperdibles están
                        el avistamiento de fauna silvestre, como delfines rosados y monos, el recorrido por selvas inundadas
                        y la visita al "Encuentro de las Aguas", donde los ríos Negro y Solimões fluyen juntos sin mezclarse
                        por kilómetros.
                    </p>
                </div>
            </div>
        </section>

        <section class="comida_tipica">
            <h2>COMIDA TIPICA</h2>
            <div class="card">
                <div class="imagen_sushi"></div> <!-- Aquí puedes cambiar la clase para la comida brasilera -->
                <div class="descripcion">
                    <h1>Feijoada</h1>
                    <p>Guiso espeso de frijoles negros con carne de cerdo, considerado el plato nacional de Brasil.</p>
                    <img src="" alt="" />
                </div>
            </div>
        </section>

        <section class="himno">
            <div class="reproductor">
                <img src="../public/img/bandera_japon.jpg" alt="brasil" />
                <audio src="../public/audios/Himno nacional del Brasil - Brazilian National Anthem (PTES letra).mp3" controls></audio>
            </div>
            <div class="informacion_himno">
                <h1>Himno a Brasil</h1>
                <p>
                    El Himno Nacional Brasileño es uno de los símbolos patrios más importantes del país. Su música fue
                    compuesta por Francisco Manuel da Silva en 1831, y su letra fue escrita por Joaquim Osório Duque
                    Estrada en 1909.
                    Es un himno vibrante, con una melodía majestuosa y letras que exaltan la libertad, la naturaleza y
                    el orgullo del pueblo brasileño.
                    Se canta con solemnidad en eventos oficiales, deportivos, escolares y celebraciones patrióticas. El
                    himno destaca la belleza del país, la valentía de su pueblo y su amor por la libertad.
                </p>
            </div>
        </section>

        <section class="lugares_visitar">
            <h1>LUGARES POR VISITAR</h1>
            <div class="container_imagenes">
                <div class="img_superior"></div>
                <div class="img_inferior"></div>
            </div>
        </section>

        <section class="mapa">
            <h1>HECHA UN VISTAZO AL MAPA</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12667499.326950867!2d-63.77654222705512!3d-10.649870036774712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5041f5bd32cd%3A0xb5815d426c67d60a!2sBrasil!5e0!3m2!1ses-419!2sdo!4v1718572049845!5m2!1ses-419!2sdo"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="mapa_google"></iframe>
        </section>
    </main>
    <footer>
        <!-- aqui va el footer -->
    </footer>
</body>

</html>
