<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="brasil.css">
    <title>Brasil
    </title>
</head>

<body>

    <head>
        <!-- aqui va el navbar-->
    </head>
    <main>
        <div class="banner"></div>

        <section class="lugares_turisticos">
            <h2>Lugares Turisticos</h2>

            <div class="rio_de_janeiro">
                <h4>RÍO DE JANEIRO</h4>
                <p>Río de Janeiro es uno de los destinos más icónicos de Brasil y del mundo. Rodeada de montañas, playas
                    doradas y selvas tropicales, esta ciudad ofrece una mezcla única de naturaleza y cultura urbana. El
                    Cristo Redentor, una de las siete maravillas del mundo moderno, corona el cerro del Corcovado con
                    vistas panorámicas espectaculares.
                    l Pan de Azúcar y el teleférico ofrecen otra perspectiva inolvidable de la bahía de Guanabara.
                    Además, sus barrios vibrantes como Lapa y Santa Teresa, su gastronomía local, y su famosa vida
                    nocturna, convierten a Río en un lugar lleno de energía. Y si visitas en febrero, podrás vivir el
                    Carnaval más grande del planeta.</p>
            </div>

            <div class="foz_do_iguacu">
                <h4>FOZ DO IGUAÇU</h4>
                <p>Ubicada en el extremo sur de Brasil, Foz do Iguaçu es conocida mundialmente por albergar las
                    imponentes Cataratas del Iguazú, una de las mayores maravillas naturales del mundo. Esta gigantesca
                    red de más de 270 saltos de agua en plena selva atlántica ofrece paisajes que quitan el aliento.
                    El Parque Nacional do Iguaçu, Patrimonio de la Humanidad por la UNESCO, permite disfrutar de
                    senderos ecológicos, paseos en lancha y miradores cercanos a los saltos. Además, Foz se encuentra en
                    la Triple Frontera con Argentina y Paraguay, lo que la convierte en un punto de encuentro cultural y
                    comercial muy interesante. También es sede de la imponente Represa de Itaipú, una de las
                    hidroeléctricas más grandes del mundo.</p>
            </div>

            <div class="amazona">
                <h4>AMAZONAS</h4>
                <p>El Amazonas brasileño es una región majestuosa que representa la mayor selva tropical del planeta,
                    con una biodiversidad inigualable. Navegar por el río Amazonas, explorar la selva con guías locales
                    y visitar comunidades indígenas permite una experiencia única de conexión con la naturaleza y las
                    culturas ancestrales.
                    La ciudad de Manaos, puerta de entrada al Amazonas, ofrece una interesante mezcla de arquitectura
                    histórica, mercados exóticos y acceso a reservas naturales. Entre las actividades imperdibles están
                    el avistamiento de fauna silvestre, como delfines rosados y monos, el recorrido por selvas inundadas
                    y la visita al "Encuentro de las Aguas", donde los ríos Negro y Solimões fluyen juntos sin mezclarse
                    por kilómetros.</p>
            </div>

            <div class="imagen_fondo"></div>
        </section>

        <section class="Comida_tipica">
            <div class="card">
                <div class="imagen_feijoada"></div>
                <h1> Comida Tipica </h1>
                <p>Guiso espeso de frijoles negros con carne de cerdo, considerado el plato nacional de Brasil.</p>
                <img src="" alt="">
            </div>
        </section>

        <section class="himno">
            <div class="reproducto">
                <img src="" alt="">
                <audio src=""></audio>
            </div>

            <div class="imformacion">
                <h1>Himno a Brasil</h1>
                <p>El Himno Nacional Brasileño es uno de los símbolos patrios más importantes del país. Su música fue
                    compuesta por Francisco Manuel da Silva en 1831, y su letra fue escrita por Joaquim Osório Duque
                    Estrada en 1909.
                    Es un himno vibrante, con una melodía majestuosa y letras que exaltan la libertad, la naturaleza y
                    el orgullo del pueblo brasileño.
                    Se canta con solemnidad en eventos oficiales, deportivos, escolares y celebraciones patrióticas. El
                    himno destaca la belleza del país, la valentía de su pueblo y su amor por la libertad.</p>
            </div>
        </section>

        <section class="lugares_turisticos">
        <div class="img_superior"></div>
        <div class="img_inferior"></div>
        </section>

        <section class="hecha_un_vistaso_al_mapa">
            <div class="mapa_contenedor">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12667499.326950867!2d-63.77654222705512!3d-10.649870036774712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5041f5bd32cd%3A0xb5815d426c67d60a!2sBrasil!5e0!3m2!1ses-419!2sdo!4v1718572049845!5m2!1ses-419!2sdo"" frameborder="0"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <!-- aqui va el footer-->
    </footer>
</body>

</html>