<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colombia</title>
    <link rel="stylesheet" href="../public/css/colombia.css">
</head>

<body>
    <header>
        <!--Aqui va el navbar-->
    </header>
    <main>
        <div class="banner"></div>
        <section class="lugares_turisticos">
                <h1>Lugares Turisticos</h1>
            </div>
            <div class="card_container">
                <div class="cards1" >
                    <div class="imagen_card"></div>
                    <h2>CARTAGENA DE INDIAS</h2>
                    <p> Kioto se encuentra rodeada de una rica belleza natural, y es una ciudad con un repertorio 
                        único que muestra una cultura de gran atractivo, la cual se ha ido perfeccionando a lo largo 
                        de los últimos 1200 años. Muchos aspectos de la cultura japonesa tienen su origen en Kioto, se 
                        encuentran profundamente arraigados en la vida de sus habitantes y se ven reflejados también en 
                        la actualidad.  </p>
                </div>
                <div class="cards2">
                    <div class="imagen_card"></div>
                    <h2>BOGOTÁ</h2>
                    <p>Kioto se encuentra rodeada de una rica belleza natural, y es una ciudad con un repertorio único que 
                        muestra una cultura de gran atractivo, la cual se ha ido perfeccionando a lo largo de los últimos 1200 
                        años. Muchos aspectos de la cultura japonesa tienen su origen en Kioto, se encuentran profundamente arraigados 
                        en la vida de sus habitantes y se ven reflejados también en la actualidad. </p>
                </div>
                <div class="cards3">
                    <div class="imagen_card"></div>
                    <h2>MEDELLÍN</h2>
                    <p> Kioto se encuentra rodeada de una rica belleza natural, y es una ciudad con un repertorio único que muestra una 
                        cultura de gran atractivo, la cual se ha ido perfeccionando a lo largo de los últimos 1200 años. Muchos aspectos 
                        de la cultura japonesa tienen su origen en Kioto, se encuentran profundamente arraigados en la vida de sus habitantes 
                        y se ven reflejados también en la actualidad. </p>
                </div>
            </div>
        </section>
        <section class="comida_tipica">
            <h2>COMIDA TIPICA</h2>
            <div class="card">
                <div class="imagen_arepa"></div>
                <div class="descripcion">
                    <h1>AREPA</h1>
                    <p>Tortilla de maíz que se sirve en todo el país, sola, con queso, mantequilla o rellena con carne, pollo, huevo o aguacate.</p>
                    <img src="" alt="">
                </div>
            </div>
        </section>
        <section class="himno"> <!--Reproductor para uadio-->
            <div class="reproductor">
                <img src="../public/img/bandera_colombia.jpg" alt="" class="bandera"> <!--Imagen de bandera-->
                <audio src="../public/audios/Himno Nacional de la Republica de Colombia - Completo.mp3" controls
                    class="audio"></audio> <!--Aqui va el himno-->
            </div>
            <div class="informacion_himno">
                <h1>HIMNO A Colombia</h1>
                <p>El himno nacional de Japón, llamado "Kimigayo", tiene una letra basada en un poema del siglo X que expresa deseos de longevidad 
                    y prosperidad. Aunque comenzó a usarse durante la Restauración Meiji en el siglo XIX, no fue adoptado oficialmente hasta 1999. 
                    Su música fue compuesta en 1880 por Hiromori Hayashi y arreglada por el músico alemán Franz Eckert. Es uno de los himnos más 
                    cortos del mundo y ha generado controversias debido a su asociación con el pasado imperial japonés, aunque sigue utilizándose 
                    en ceremonias oficiales y eventos públicos.</p>
            </div>
        </section>
        <section class="lugares_visitar">
            <h1>LUGARES POR VISITAR</h1>
            <div class="container_imagenes">
            <div class="img_superior"></div> <!--Carrusel superior-->
            <div class="img_inferior"></div> <!--Carrusel inferior-->
            </div>
        </section>
        <section class="mapa">
            <h1>HECHA UN VISTAZO AL MAPA</h1>
        <iframe src="https://www.google.com/maps?q=Colombia&output=embed" 
            width="600" 
            height="450" 
            frameborder="0" 
            allowfullscreen 
            loading="lazy"
            class="mapa_google"
        </iframe>



        </section>
    </main>
    <footer>
        <!--Aqui va el footer-->
    </footer>
</body>

</html>