<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colombia</title>
</head>

<body>
    <header>
        <!---- aqui va el navbar-->
    </header>
    <main>
        <div class="banner"></div>

        <section class="lugares_turisticos">
            <h1>Lugares Turisticos</h1>
            <div class="cartagena_de_indias">
                <h4>CARTAGENA DE INDIAS</h4>
                <p>Cartagena de Indias es una joya del Caribe colombiano, famosa por su ciudad amurallada, su
                    arquitectura colonial y sus coloridas calles llenas de historia. Declarada Patrimonio de la
                    Humanidad por la UNESCO, combina cultura, playas paradisíacas y una vibrante vida nocturna.
                    Entre sus principales atractivos destacan el Castillo de San Felipe, la Torre del Reloj y el Centro
                    Histórico, donde cada rincón cuenta una historia.</p>
            </div>

            <div class="bogota">
                <h4>BOGOTÁ</h4>
                <p>Bogotá, la capital de Colombia, es una ciudad moderna y cultural ubicada a más de 2.600 metros sobre
                    el nivel del mar. Ofrece una mezcla vibrante de historia, arte y gastronomía.
                    Entre sus principales atractivos se encuentran el Cerro de Monserrate, el Museo del Oro, y el
                    histórico barrio de La Candelaria. Es un destino ideal para quienes buscan experiencias culturales y
                    paisajes andinos únicos.</p>
            </div>

            <div class="medellin">
                <h4>MEDELLIN</h4>
                <p>Medellín, conocida como la Ciudad de la Eterna Primavera, destaca por su clima agradable, su
                    modernidad y su transformación urbana. Es un centro cultural e innovador rodeado de montañas
                    andinas.
                    Entre sus principales atractivos están el Metrocable, la Comuna 13 con su arte urbano, el Jardín
                    Botánico y la Plaza Botero, donde se exhiben esculturas del artista Fernando Botero. Medellín es un
                    destino que mezcla tradición, arte y tecnología con una energía única.</p>
            </div>

            <section class="comida_tipic">
                <div class="card">
                    <div class="imagen_arepa"></div>
                    <h1>Comida Tipica</h1>
                    <p>Tortilla de maíz que se sirve en todo el país, sola, con queso, mantequilla o rellena con carne,
                        pollo, huevo o aguacate.</p>
                    <img src="" alt="">
            </section>


            <section class="himno">
                <div class="reproducto">
                    <img src="" alt="">
                    <audio src=""></audio>
                </div>
                <div class="imformacion">
                    <h1>Himno a Brasil</h1>
                    <p>El Himno Nacional de Colombia es uno de los símbolos patrios más importantes del país. Su letra
                        fue escrita por Rafael Núñez, expresidente de la República, y la música fue compuesta por el
                        italiano Oreste Sindici en 1887.
                        Se caracteriza por su tono solemne, patriótico y su emotiva referencia a la lucha por la
                        libertad.

                        Este himno es interpretado con orgullo en eventos oficiales, escolares, deportivos y
                        celebraciones nacionales.</p>
            </section>

            <section class="lugares_turisticos">
                <div class="img_superior"></div>
                <div class="img_inferior"></div>
            </section>

            <section class="hecha_un_vistaso_al_mapa">
                <div class="mapa_contenedor">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12731289.942990437!2d-79.16082150377646!3d4.57086849429874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3a70e2542a3fa9%3A0x5ec3b2e98979207f!2sColombia!5e0!3m2!1ses-419!2sdo!4v1718576352271!5m2!1ses-419!2sdo"></iframe>
                </div>
            </section>
    </main>
    <footer>

    </footer>

</body>

</html>