<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/destinos.css">
    <title>Destinos</title>
</head>

<body>
    <header>
        <!--NAVBAR-->
    </header>
    <main>

        <section class="galeria">
            <h1>Elige donde quieres ir!</h1>
        </section>

        <section class="destinos">
        <h2 class="h1destinos">Destinos</h2>

        <div class="card_japon">
            <h2>Japón</h2>
            <button>Visitar</button>
        </div>

        <div class="card_hawaii">
            
            <h2>Hawaii</h2>
            <button>Visitar</button>
        </div>


        <div class="card_francia">
            
            <h2>Francia</h2>
            <button>Visitar</button>
        </div>

        <div class="card_brasil">
            <h2>Brasil</h2>
            <button>Visitar</button>
        </div>

        <div class="card_colombia">
            <h2>Colombia</h2>
            <button>visitar</button>
        </div>
    </section>

    <section class="mensajes">
        <div class="mensaje">
            <p>Nos comprometemos a brindarte una experoencia maravillosa al visitar los destinos que ofrecemos en
                nuestro catálogo.
                ¿Qué esperas para agendar tu visita?</p>
        </div>
        </section>
        
    </main>

    <footer></footer>
</body>

</html>