<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/destinos.css">
    <title>Destinos</title>
</head>
<body>
    <header>
        <!--NAVBAR-->
    </header>

    <section class="galeria">
        <h1>Elige donde quieres ir!</h1>
    </section>
    <h2>Destinos</h2>

    <div class="card Japon">
        <h2>Japón</h2>
        <img src="" alt="Foto de japón">
        <button>Visitar</button>
    </div>

    <div class="card hawaii">
        <img src="" alt="Foto de Hawaii" />
        <h2>Hawaii</h2>
        <button>Visitar</button>
    </div>


    <div class="card francia">
    <img src="" alt="Foto Francia" />
        <h2>Francia</h2>
        <button>Visitar</button>
    </div>

    <div class="card brasil">
        <img src="" alt="Brasil"/>
        <img src="" alt="Foto de brasil">
        <h2>Brasil</h2>
        <button>Visitar</button>
    </div>

    <div class="card colombia">
        <h2>Colombia</h2>
        <img src="" alt="foto de colombia">
        <button>visitar</button>
    </div>

    
    <div class="mensaje">
        <img src="" alt="foto de playa">
    <p>Nos comprometemos a brindarte una experoencia maravillosa al visitar los destinos que ofrecemos en nuestro catálogo. <br>
        ¿Qué esperas para agendar tu visita?</p>
    </div>

    <footer></footer>
</body>
</html>