<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinos</title>
    <link rel="stylesheet" href="estilos.css" />
</head>

<body>
    <header>
        <!-- navbar aqui-->
    </header>

    <section class="galeria">
        <h1>¡Elige donde quieres ir!</h1>
    </section>

    <main>
        <h2>Destinos</h2>
        <section class="contenedor-tarjetas">
            <div class="card">
                <img src="japon.jpg" alt="Templo japonés al atardecer">
                <h2>Japón</h2>
                <button>Visitar</button>
            </div>
            <div class="card">
                <img src="hawaii.jpg" alt="Playa en Hawaii al atardecer">
                <h2>Hawaii</h2>
                <button>Visitar</button>
            </div>
            <div class="card">
                <img src="francia.jpg" alt="Interior de teatro en Francia">
                <h2>Francia</h2>
                <button>Visitar</button>
            </div>
            <div class="card">
                <img src="brasil.jpg" alt="Cristo Redentor en Río">
                <h2>Brasil</h2>
                <button>Visitar</button>
            </div>
            <div class="card">
                <img src="colombia.jpg" alt="Vista de playa en Colombia">
                <h2>Colombia</h2>
                <button>Visitar</button>
            </div>
        </section>
    </main>

    <div class="mensaje">
        <p>
            Nos comprometemos a brindarte una experiencia maravillosa al visitar los destinos que ofrecemos en nuestro
            catálogo.<br>
            ¿Qué esperas para agendar tu visita?
        </p>
    </div>

    <footer>
        <!-- footer aqui-->
    </footer>
</body>

</html>