<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Francia</title>
</head>
<body>
    <header>
        <!--Aqui va el navbar-->
    </header>

    <main>
        <div class="banner"></div>
        <section class="lugares_turisticos">
            <h1>Lugares Turísticos</h1>
            <div class="paris">
                <h1>París</h1>
                <p> Kioto se encuentra rodeada de una rica belleza natural, y es una ciudad con un repertorio único que muestra una cultura de gran atractivo, la cual se ha ido perfeccionando a lo largo de los últimos 1200 años. Muchos aspectos de la cultura japonesa tienen su origen en Kioto, se encuentran profundamente arraigados en la vida de sus habitantes y se ven reflejados también en la actualidad. </p>
            </div>
            <div class="marsella">
                <h1>Marsella</h1>
                <p>Niza se ubica en la Riviera Francesa y es reconocida por su clima cálido, su costa mediterránea y su paseo marítimo, la Promenade des Anglais. Es un lugar perfecto para disfrutar del mar, arte y comida francesa. También es una puerta de entrada a otros destinos de la Costa Azul como Cannes y Mónaco.</p>
            </div>
            <div class="lyon">
                <h1>Lyon</h1>
                <p>El Mont Saint-Michel es una isla rocosa coronada por una abadía medieval, ubicada en Normandía. Durante la marea alta, se convierte en una isla, lo que la hace única y mágica. Es uno de los lugares más fotografiados de Francia y está declarado Patrimonio de la Humanidad por la UNESCO.</p>
            </div>
        </section>
        <section class="comida_tipica">
            <div class="card">
                <div class="imagen_boeuf"></div>
                <h1>BOEUF BOURGUIGNON</h1>
                <p>Estofado de carne de res cocinado lentamente en vino tinto con verduras, típico de la región de Borgoña.</p>
                <img src="" alt="">
            </div>
        </section>
        <section class="himno"> <!--Reproductor para audio-->
            <div class="reproductor">
                <img src="" alt=""> <!--Imagen de bandera-->
                <audio src=""></audio> <!--Aquí va el himno-->
            </div>
            <div class="informacion_himno">
                <h1>HIMNO A FRANCIA</h1>
                <p>El himno nacional de Francia se llama "La Marseillaise". Fue compuesto en 1792 durante la Revolución Francesa y se convirtió en símbolo de libertad y resistencia. Su letra es enérgica y patriótica, llamando al pueblo a luchar contra la opresión. Es uno de los himnos más reconocidos del mundo y se canta en eventos nacionales y deportivos.</p>
            </div>
        </section>
        <section class="lugares_visitar">
            <div class="img_superior"></div> <!--Carrusel superior-->
            <div class="img_inferior"></div> <!--Carrusel inferior-->
        </section>
        <section class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5314879.009312282!2d1.8883333!3d46.603354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e296f6a0cd7%3A0x40b82c3688c9460!2sFrancia!5e0!3m2!1ses!2sdo!4v1718730000000!5m2!1ses!2sdo"></iframe>
        </section>
    </main>
    <footer>
        <!--Aqui va el footer-->
    </footer>
</body>
</html>
