<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galería de Destinos</title>
    <link rel="stylesheet" href="/public/css/galeria.css">
</head>
<body>
    <!--NAVBAR-->
    <section class="galeria">
        <h1>Bienvenido a Galería</h1>
        <!--IMG-->
    </section>

<section class="section-principal">
    <div class="card francia">
        <!--IMG-->
        <h2>Torre en París, Francia</h2>
        <p>
        La Torre Eiffel, icono emblemático de París, ofrece vistas panorámicas inolvidables
        y simboliza la elegancia y cultura francesa.
        </p>
    </div>

    <a href="japon.html" class="card japon">
        <!--IMG-->
        <h2>Japón - Tokio</h2>
        <p>
        El monte Fuji, símbolo sagrado de Japón, ofrece vistas majestuosas y representa
        la armonía entre la naturaleza y la cultura japonesa.
        </p>
    </a>
</section>

<section class="section-normal">
    <a href="brasil.html" class="card brasil">
        <!--IMG-->
        <h2>Río de Janeiro, Brasil</h2>
        <p>
        El Cristo Redentor, símbolo majestuoso de Río de Janeiro, ofrece una vista espectacular
        de la ciudad y representa la calidez y diversidad cultural brasileña.
        </p>
    </a>

    <a href="colombia.html" class="card colombia">
        <!--IMG-->
        <h2>La Ciudad Amurallada, Colombia</h2>
        <p>
        Centro histórico rodeado por murallas coloniales, que conserva su arquitectura colonial
        y el vibrante encanto del Caribe colombiano.
        </p>
    </a>

    <a href="hawaii.html" class="card hawai">
        <!--IMG-->
        <h2>Playa de Waikiki en Honolulu, Hawái</h2>
        <p>
        Famosa por sus arenas doradas y olas suaves, es un símbolo de belleza natural
        y la cultura isleña hawaiana.
        </p>
    </a>
</section>

    <footer>AUTOR: EL MEGADIVO</footer>
</body>
</html>
