<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galería de Destinos</title>
</head>
<body>
    <!--NAVBAR-->
    <section class="galeria">
        <h1>Bienvenido a Galería</h1>
        <img src="" alt="paisaje" />
    </section>

<section class="section-principal">
    <div class="card francia">
        <h2>Torre en París, Francia</h2>
        <p>
        La Torre Eiffel, icono emblemático de París, ofrece vistas panorámicas inolvidables
        y simboliza la elegancia y cultura francesa.
        </p>
    </div>

    <div class="card japon">
        <img src="" alt="Japón" />
        <h2>Japón - Tokio</h2>
        <p>
        El monte Fuji, símbolo sagrado de Japón, ofrece vistas majestuosas y representa
        la armonía entre la naturaleza y la cultura japonesa.
        </p>
    </div>
</section>

<section class="section-normal">
    <div class="card brasil">
    <img src="" alt="Brasil" />
        <h2>Río de Janeiro, Brasil</h2>
        <p>
        El Cristo Redentor, símbolo majestuoso de Río de Janeiro, ofrece una vista espectacular
        de la ciudad y representa la calidez y diversidad cultural brasileña.
        </p>
    </div>

    <div class="card colombia">
        <img src="" alt="Colombia" />
        <h2>La Ciudad Amurallada, Colombia</h2>
        <p>
        Centro histórico rodeado por murallas coloniales, que conserva su arquitectura colonial
        y el vibrante encanto del Caribe colombiano.
        </p>
    </div>

    <div class="card hawai">
        <h2>Playa de Waikiki en Honolulu, Hawái</h2>
        <p>
        Famosa por sus arenas doradas y olas suaves, es un símbolo de belleza natural
        y la cultura isleña hawaiana.
        </p>
    </div>
</section>

    <footer>AUTOR: EL MEGADIVO</footer>
</body>
</html>
