<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawaii</title>
</head>

<body>
    <header>
        <!---- aqui va el navbar-->
    </header>
    <main>
        <div class="banner"></div>

        <section class="lugares_turisticos">
            <h1>Lugares Turisticos</h1>
            <div class="honolulu">
                <h4>HONOLULU (OAHU)</h4>
                <p>Honolulu es la capital de Hawái y está ubicada en la isla de Oʻahu. Es famosa por sus playas como
                    Waikiki, su historia en Pearl Harbor, y su mezcla única de cultura hawaiana y estilo urbano moderno.
                    Con clima tropical, paisajes volcánicos y una vibrante vida cultural, es uno de los destinos más
                    visitados del Pacífico.</p>
            </div>

            <div class="haleakala">
                <h4>HALEAKALĀ (MAUI)</h4>
                <p>Haleakalā es un enorme volcán en la isla de Maui, conocido por su cráter gigante y sus amaneceres
                    espectaculares desde la cima. Forma parte del Parque Nacional Haleakalā, que protege ecosistemas
                    únicos, especies nativas y paisajes volcánicos impresionantes. Es uno de los lugares más
                    emblemáticos de Hawái para el senderismo, la astronomía y la conexión con la naturaleza.</p>
            </div>

            <div class="medellin">
                <h4>NA PALI COAST (KAUAI)</h4>
                <p>La Na Pali Coast, en la isla de Kauaʻi, es una de las costas más impresionantes del mundo. Sus
                    acantilados escarpados, valles verdes y cascadas que caen al océano forman un paisaje espectacular e
                    inaccesible por carretera. Solo se puede explorar por mar, aire o a pie por el exigente sendero
                    Kalalau. Es un tesoro natural de Hawái, famoso por su belleza virgen y su valor cultural e
                    histórico.</p>
            </div>

            <section class="comida_tipic">
                <div class="card">
                    <div class="imagen_arepa"></div>
                    <h1>POKE</h1>
                    <p>Plato de trozos de pescado crudo (generalmente atún), marinados con salsa de soya, sésamo,
                        cebolla y otros ingredientes, servido solo o sobre arroz.</p>
                    <img src="" alt="">
            </section>


            <section class="himno">
                <div class="reproducto">
                    <img src="" alt="">
                    <audio src=""></audio>
                </div>
                <div class="imformacion">
                    <h1>Himno a Hawaii</h1>
                    <p>Aquí tienes la letra del himno oficial del estado de Hawái, conocido como "Hawaiʻi Ponoʻī",
                        escrito por el rey Kalākaua con música de Henry Berger, inspirado en los himnos reales europeos.
                        Fue el himno del Reino de Hawái y hoy es el himno estatal.</p>
            </section>

            <section class="lugares_turisticos">
                <div class="img_superior"></div>
                <div class="img_inferior"></div>
            </section>

            <section class="hecha_un_vistaso_al_mapa">
                <div class="mapa_contenedor">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875387.0156607435!2d-161.20690468280442!3d20.348404956857266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x795508bd4db2c2db%3A0xaea7d1b44d30d5b4!2sHaw%C3%A1i%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sdo!4v1718650884423!5m2!1ses-419!2sdo"></iframe>
                </div>
            </section>
    </main>
    </main>
    <footer>

    </footer>
</body>

</html>