<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <!--Aqui va el navbar-->
    </header>
    <main>
        <div class="banner">
`       <h1>Bienvenido a Travel World!</h1>
            <button class="boton_destinos">Ver Destinos</button>
        </div>
        <section class="cards">
            <div class="card">
                <div class="img_car"></div>
                <h1>Hawaii</h1>
                <button class="boton"></button>
            </div>
            <div class="card">
                <div class="img_car"></div>
                <h1>Brasil</h1>
                <button class="boton"></button>
            </div>
            <div class="card">
                <div class="img_car"></div>
                <h1>Japón</h1>
                <button class="boton"></button>
            </div>
        </section>
    </main>
    <footer>
        <!--Aqui va el footeer-->
    </footer>
</body>
</html>