<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <header>
        <!--Aqui va el navbar-->
    </header>
    <main>
        <div class="banner">
        <h1>Bienvenido a Travel World!</h1>
        <div class="boton_mover">
            <button class="boton_destinos"><a href="destinos.html">Ver Destinos</a></button>
        </div>
        </div>
        <section class="cards">
            <div class="card1">
                <div class="img_card1"></div>
                <h1>Hawaii</h1>
                <div class="boton1">
                    <button>Visitar</button>
                </div>
            </div>
            <div class="card2">
                <div class="img_card2"></div>
                <h1>Brasil</h1>
                <div class="boton2">
                    <button>Visitar</button>
                </div>
            </div>
            <div class="card3">
                <div class="img_card3"></div>
                <h1>Japón</h1>
                <div class="boton3">
                    <button>Visitar</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <!--Aqui va el footeer-->
    </footer>
</body>
</html>