<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- Navbar -->

<!-- Imagen superior -->
<section class="hero-image">
    <img src="" alt="nosotros">
    <h2>NOSOTROS</h2>
</section>

<!-- Quienes Somos -->
<section class="about-section">
    
    <div class="card">
        <h3>¿Quiénes Somos?</h3>
        <p>Somos un grupo de personas que está dispuesto a ayudarte en tu siguiente viaje.</p>
    </div>

    <div class="profile-photo"></div>

    <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</section>

    <!-- Tres tarjetas abajo -->
<section class="cards-container">

    <div class="card">
        <h3>Nuestra historia</h3>
        <p>El proyecto fue resultado de un proyecto personal en el 2025, que al final pasó a ser un proyecto grupal.</p>
    </div>

    <div class="card">
        <h3>El equipo</h3>
        <p>Está constituido por viajeros, fotógrafos, guías turísticos y desarrolladores web dispuestos a compartir experiencias contigo.</p>
    </div>

    <div class="card">
        <h3>Nuestra misión y valores</h3>
        <p>Promover el turismo mediante las diferentes culturas, siempre con el respeto, y motivar a más personas a fascinarse con este maravilloso mundo.</p>
    </div>
</section>

<footer>AUTOR: EL MEGADIVO</footer>
</body>
</html>
