<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="stylesheet" href="../public/css/nosotros.css">
</head>
<body>

<!-- Navbar -->

<!-- Imagen superior -->
<section class="imagen-con-ola">
    <img src="../public/img/playa.jpg" alt="Imagen" class="imagen-principal">
  
    <div class="wave-container">
      <svg class="wave" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path d="M0,30 C300,100 900,0 1200,30 L1200,100 L0,100 Z" fill="#ffffff"></path>
      </svg>
    </div>
  </section>
  
  

<!-- Quienes Somos -->
<section class="about-section">
    
    <div class="card">
        <h3>¿Quiénes Somos?</h3>
        <p>Somos un grupo de personas que está dispuesto a ayudarte en tu siguiente viaje.</p>
    </div>

</section>

    <!-- Tres tarjetas abajo -->
<section class="cards-container">

    <div class="card">
        <h3>Nuestra historia</h3>
        <p>El proyecto fue resultado de un proyecto personal en el 2025, que al final pasó a ser un proyecto grupal.</p>
    </div>

    <div class="card">
        <h3>El equipo</h3>
        <p>Está constituido por viajeros, fotógrafos, guías turísticos y desarrolladores web dispuestos a compartir experiencias contigo.</p>
    </div>

    <div class="card">
        <h3>Nuestra misión y valores</h3>
        <p>Promover el turismo mediante las diferentes culturas, siempre con el respeto, y motivar a más personas a fascinarse con este maravilloso mundo.</p>
    </div>
</section>

<footer> 

</footer>
</body>
</html>
