<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="">
</head>
<body>

    <header>
        <!-- navbar aquí -->
    </header>

    <main>
        <!-- Información personal -->
        <section class="informacionpersona">
            <div class="card">
                <div class="img"></div>
                <h2>Auron Play</h2>
                <p>RD 000000000</p>
                <p>1 (809) 555 - 555</p>
                <p>auronplay@gmail.com</p>
            </div>
        </section>

        <!-- Dirección -->
        <section class="direccion">
            <div class="card">
                <h2>Dirección</h2>
                <p>Calle Hermosen, Santiago de los Caballeros, República Dominicana</p>
            </div>
        </section>

        <!-- Métodos de pago -->
        <section class="metododepago">
            <div class="card">
                <h2>Métodos de pago</h2>
                <ul>
                    <li>Tarjeta de crédito</li>
                    <li>PayPal</li>
                    <li>Visa</li>
                </ul>
            </div>
        </section>

        <!-- Historial -->
        <section class="historial">
            <div class="card">
                <h2>Historial de viajes</h2>
                <ul>
                    <li>Colombia, Medellín</li>
                    <li>Japón, Monte Fuji</li>
                </ul>
            </div>
        </section>

        <!-- Favoritos -->
        <section class="favoritos">
            <div class="card">
                <h2>Favoritos</h2>
                <ul>
                    <li>Colombia, Medellín <button class="boton">x</button></li>
                    <li>Japón, Monte Fuji <button class="boton">x</button></li>
                </ul>
            </div>
        </section>

        <!-- Solicitudes en proceso -->
        <section class="solicitudesproceso">
            <div class="card">
                <h2>Solicitudes en proceso</h2>
                <ul>
                    <li>Colombia, Medellín <button class="botonver">Ver</button></li>
                    <li>Japón, Monte Fuji <button class="botonver">Ver</button></li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <!-- footer aquí -->
    </footer>

</body>
</html>
