<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../public/css/perfil.css">
</head>

<body>

    <header>
        <!-- navbar aquí -->
    </header>

    <main>
        <!-- Información personal -->
        <section class="informacionpersona">
            <div class="card">
                <div class="img"></div>
                <h2>Auron Play</h2>
                <p>RD 000000000</p>
                <p>1 (809) 555 - 555</p>
                <p>auronplay@gmail.com</p>
            </div>
        </section>

        <!-- Dirección -->
        <section class="direccion">
            <div class="card">
                <div class="card-titulo">
                    <h2>Direccion</h2>
                </div>
                <div class="card-contenido">
                    <p>Calle Hermosen, Santiago de los Caballeros, República Dominicana</p>
                </div>
            </div>
        </section>

        <!-- Métodos de pago -->
        <section class="metododepago">
            <div class="card">
                <div class="card-titulo">
                    <h2>Metodo de pago</h2>
                </div>
                <div class="card-contenido">
                    <ul>
                        <li>Mercado pago</li>
                        <li>PayPal</li>
                        <li>Visa</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Historial -->
        <section class="historial">
            <div class="card">
                <div class="card-titulo">
                    <h2>Historial de Viajes</h2>
                </div>
                <div class="card-contenido">
                    <ul>
                        <li>Colombia, Medellín</li>
                        <li>Japón, Monte Fuji</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Favoritos -->
        <section class="favoritos">
            <div class="card">
                <div class="card-titulo">
                    <h2>Favoritos</h2>
                </div>
                <div class="card-contenido">
                    <ul>
                        <li>Colombia, Medellín <button class="boton">x</button></li>
                        <li>Japón, Monte Fuji <button class="boton">x</button></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Solicitudes en proceso -->
        <section class="solicitudesproceso">
            <div class="card">
                <div class="card-titulo">
                    <h2>Solucitudes en Proceso</h2>
                </div>
                <div class="card-contenido">
                    <ul>
                        <li>Colombia, Medellín <button class="botonver">Ver</button></li>
                        <li>Japón, Monte Fuji <button class="botonver">Ver</button></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!-- footer aquí -->
    </footer>

</body>

</html>