<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservación</title>
    <link rel="stylesheet" href="../public/css/reservacion.css">
</head>
<body>

<div><br>
<h3 class="numero">Número de solicitud: tw000000</h3><br>
<h4>Datos del vuelo de ida</h4> <br>
<p class="hora1">Hora Fecha de viaje<br> 10/03 <br><br></p>

<p class="horaa">Hora Aeropuerto<br> STI-BOG <br><br></p>

<p class="horai">Hora de salida - Llegada <br> 1:00 PM - 4:30</p>
</div>


<div> <br>
<h3 class="hospedaje">Hospedaje</h3><br>
<p>NH Collecton Medellín Royal</p><br>
</div>


<div>
<h3 class="actividades">Actividades</h3><br>
<p>Recorrido por el centro histórico (La Candeleria)</p>
<p>Recorrido por el centro histórico (La Candeleria)</p>
<p>Recorrido por el centro histórico (La Candeleria)</p>
<p>Recorrido por el centro histórico (La Candeleria)</p>
</div>


<div><br>
<h3 class="datosvuelo">Datos del vuelo de regreso</h3><br>
<p>Fecha de viaje <br>17/03</p><br><br>
<p>Aeropuertos<br>BOG-STI </p><br><br>
<p>Hora de salida - llegada<br>1:00 PM - 4:30</p><br>
</div>


<div>
<h3 class="informacionpago">Información de pago</h3><br>
<p>17/03 <br>Mastercard ****1111 <br>Auron Play</p><br><br>
</div>

<button>Cancelar</button>

</body>
</html>