/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Banner principal */
.banner {
    width: 100%;
    height: 812px;
    flex-shrink: 0;
    background-image: url("../img/brasil.png");
    background-size: cover;
}

/* Sección Lugares Turísticos */
.lugares_turisticos {
    position: relative;
    width: 100%;
    height: 650px;
    flex-shrink: 0;
    background: rgb(15, 15, 32);
    background-color: rgb(29, 95, 32);
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 20px;
    background-size: cover;
    flex-direction: column;
}

.lugares_turisticos h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    z-index: 2;
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 2;
}

/* Cards */
.cards1,
.cards2,
.cards3 {
    position: relative;
    width: 314px;
    height: 397px;
    flex-shrink: 0;
    color: #FFF;
    border-radius: 10px;
    background: #1D1B29;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: normal;
}

/* Imagen en cards */
.imagen_card {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    display: block;
}

/* Background images cards */
.cards1 .imagen_card {
    background-image: url("../img/lugares_por_visitar_brasil_img_1.jpg");
}

.cards2 .imagen_card {
    background-image: url("../img/lugares_por_visitar_brasil_img_2.jpg");
}

.cards3 .imagen_card {
    background-image: url("../img/lugares_por_visitar_brasil_img_3.jpg");
}


/* Sección Comida Típica */
.comida_tipica {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    background: #E1E8EF;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.comida_tipica h2 {
    color: #151320;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}

.card {
    display: flex;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #111122;
    flex-direction: row;
}

.imagen_sushi {
    width: 50%;
    height: 400px;
    background-image: url("../img/img_gr_comida_brasil.jpg");
    background-size: cover;
}

.descripcion {
    width: 50%;
    height: 400px;
    background-color: #111122;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.descripcion h1 {
    margin-top: 0;
    font-size: 40px;
    color: white;
}

.descripcion p {
    font-size: 16px;
    line-height: 1.4;
}

/* Sección Himno */
.himno {
    width: 100%;
    height: 709px;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lugares_por_visitar_brasil_img_10.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 150px;
    flex-direction: row;
}

.reproductor {
    width: 359px;
    height: 439px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(34, 87, 121, 0.49);
    backdrop-filter: blur(15px);
    position: relative;
    align-items: center;
}

.informacion_himno {
    position: relative;
    width: 626px;
    height: 435px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(34, 87, 121, 0.49);
    backdrop-filter: blur(15px);
}

.informacion_himno p {
    color: #FFF;
    font-family: "Lisu Bosa", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    padding: 50px;
}

.informacion_himno h1 {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    top: 30px;
}

.bandera {
    width: 304px;
    height: 167px;
    flex-shrink: 0;
    left: 28px;
    position: relative;
    top: 20px;
}

.audio {
    position: absolute;
    right: 29px;
    bottom: 90px;
}

/* Sección Lugares por visitar */
.lugares_visitar {
    width: 100%;
    height: 750px;
    background: #7C0617;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lugares_visitar h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.container_imagenes {
    width: 100%;
    position: relative;
}

.img_superior {
    width: 249px;
    height: 231px;
    background-image: url("../img/lugares_por_visitar_brasil_img_4.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px 20px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 15px;
    left: 100px;
}

.img_inferior {
    width: 249px;
    height: 231px;
    background-image: url("../img/lugares_por_visitar_brasil_img_7.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px 20px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50px;
    left: 100px;
}

/* Sección Mapa */
.mapa {
    width: 100%;
    height: 706px;
    flex-shrink: 0;
    background: #1D1B29;
}

.mapa_google {
    width: 913px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    left: 265px;
    top: 100px;
}

.mapa h1 {
    color: #FFF;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    position: relative;
}

/*Responsividad de banner para diferentes medidas*/
@media screen and (max-width: 390px) {

    /*Banner principal de la pagina*/
    .banner {
        width: 100%;
        height: 219px;
        flex-shrink: 0;
        background-image: url("../img/brasil.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

}

@media screen and (min-width: 391px) and (max-width: 768px) {

    /*Banner principal de la pagina*/
    .banner {
        width: 100%;
        height: 400px;
        flex-shrink: 0;
        background-image: url("../img/brasil.png");
        background-size: cover;
    }

}


@media screen and (max-width: 390px) {
    .lugares_turisticos {
        position: relative;
        width: 100%;
        height: 1500px;
        flex-shrink: 0;
        background: rgb(15, 15, 32);
        display: flex;
        justify-content: center;
        /* centra horizontalmente */
        gap: 55px;
        /* espacio entre las tarjetas */
        padding: 20px;
        background-size: cover;
        justify-items: center;
        flex-direction: column;
        background-size: contain;

    }

    /*Titulo de lugares turisticos*/
    .lugares_turisticos h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        z-index: 2;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {

    .cards1,
    .cards2,
    .cards3 {
        position: relative;
        width: 400px;
        height: 450px;
        flex-shrink: 0;
        color: #FFF;
        border-radius: 10px;
        background: #1D1B29;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    .lugares_turisticos {
        position: relative;
        width: 100%;
        height: 1550px;
        flex-shrink: 0;
        background: rgb(15, 15, 32);
        display: flex;
        justify-content: center;
        /* centra horizontalmente */
        gap: 55px;
        /* espacio entre las tarjetas */
        padding: 20px;
        background-size: cover;
        justify-items: center;
        flex-direction: column;
        background-size: contain;
    }

    .lugares_turisticos h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        z-index: 2;
    }
}

.lugares_turisticos h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    z-index: 2;
}




/*Comida tipica respinsiva*/
@media screen and (min-width: 391px) and (max-width: 768px) {
    .comida_tipica {
        width: 100%;
        height: 500px;
        display: flex;
        position: relative;
        background: #E1E8EF;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        align-content: center;
        gap: 20px;
    }

    /*Titulo de comida tipica*/
    .comida_tipica h2 {
        /**/
        color: #151320;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    /*Card de comida tipica*/
    .card {
        /**/
        display: flex;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        background-color: #111122;
        /* color de fondo general si se ve fuera */
    }

    /*Imagen*/
    .imagen_sushi {
        width: 50%;
        height: 400x;
        background-image: url("../img/img_gr_comida_brasil.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* Parte decorativa verde */
    }

    /*Descripcion*/
    .descripcion {
        width: 50%;
        height: 400px;
        background-color: #111122;
        /* Azul marino */
        padding: 20px;
        color: white;
        font-family: 'Arial', sans-serif;
    }

    /*titulo de la descripcion*/
    .descripcion h1 {
        margin-top: 0;
        font-size: 40px;
        color: white;
    }

    /*Parrado de la descripcion*/
    .descripcion p {
        position: relative;
        font-size: 16px;
        line-height: 1.4;
        top: 100px;
    }
}

/*Para celular*/
@media screen and (max-width: 390px) {
    .comida_tipica {
        width: 100%;
        height: 700px;
        display: flex;
        position: relative;
        background: #E1E8EF;
        align-items: center;
        ;
        padding: 20px;
        align-content: center;
        gap: 20px;
    }

    /*Titulo de comida tipica*/
    .comida_tipica h2 {
        /**/
        color: #151320;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        display: flex;
    }

    /*Card de comida tipica*/
    .card {
        width: 90%;
        height: 1000px;
        border-radius: 10px;
        background-color: #111122;
        flex-direction: column;

        /* color de fondo general si se ve fuera */
    }

    /*Imagen*/
    .imagen_sushi {
        width: 100%;
        height: 400px;
        background-image: url("../img/img_gr_comida_brasil.jpg");
        background-size: cover;
        /* Parte decorativa verde */
    }

    /*Descripcion*/
    .descripcion {
        margin-top: 10px;
        width: 100%;
        height: 400px;
        background-color: #111122;
        /* Azul marino */
        color: white;
        font-family: 'Arial', sans-serif;
    }

    /*titulo de la descripcion*/
    .descripcion h1 {
        font-size: 40px;
        color: white;
    }

    /*Parrado de la descripcion*/
    .descripcion p {
        font-size: 16px;
        line-height: 1.4;
    }
}

/*Seccion para himnos responsividad para telefonos*/
@media screen and (max-width: 390px) {
    .himno {
        width: 100%;
        height: 1200px;
        flex-shrink: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lugares_por_visitar_brasil_img_10.jpg");
        fill: rgba(0, 0, 0, 0.50);
        background-size: contain;
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 150px;
        background-size: cover;
        justify-items: center;
        flex-direction: column;
    }

    /*Div del reproductor*/
    .reproductor {
        width: 300px;
        height: 439px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(34, 87, 121, 0.49);
        backdrop-filter: blur(15px);
        position: relative;
        align-items: center;
        right: 105px;
    }

    /*Div para la bandera*/
    .bandera {
        width: 250px;
        height: 167px;
        flex-shrink: 0;
        left: 28px;
        position: relative;
        top: 20px;
    }

    /*Reproductor de audio, ajustando lugar*/
    .audio {
        height: 200px;
        position: absolute;
        right: 0px;
        bottom: 90px;
    }

    /*Div para el parrafo del himno*/
    .informacion_himno {
        position: relative;
        width: 300px;
        height: 500px;
        right: 105px;
        flex-shrink: 0;
        border-radius: 15px;
        background: rgba(34, 87, 121, 0.49);
        backdrop-filter: blur(15px);


    }

    /*Parrafo del himno*/
    .informacion_himno p {
        color: #FFF;
        font-family: "Lisu Bosa";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        padding: 25px;
        justify-content: center;
    }

    /*tITULO DEL HIMNO*/
    .informacion_himno h1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        top: 30px;
        padding: 10px;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .himno {
        width: 100%;
        height: 1200px;
        flex-shrink: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lugares_por_visitar_brasil_img_10.jpg");
        fill: rgba(0, 0, 0, 0.50);
        background-size: contain;
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 150px;
        background-size: cover;
        justify-items: center;
        flex-direction: column;
    }

    /*Div del reproductor*/
    .reproductor {
        width: 400px;
        height: 439px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(34, 87, 121, 0.49);
        backdrop-filter: blur(15px);
        position: relative;
        align-items: center;

    }

    /*Div para la bandera*/
    .bandera {
        width: 300px;
        height: 167px;
        flex-shrink: 0;
        left: 50px;
        position: relative;
        top: 20px;
    }

    /*Reproductor de audio, ajustando lugar*/
    .audio {
        height: 200px;
        position: absolute;
        right: 50px;
        bottom: 90px;

    }

    /*Div para el parrafo del himno*/
    .informacion_himno {
        position: relative;
        width: 400px;
        height: 500px;
        right: 105px;
        flex-shrink: 0;
        border-radius: 15px;
        background: rgba(34, 87, 121, 0.49);
        backdrop-filter: blur(15px);
        left: 5px;


    }

    /*Parrafo del himno*/
    .informacion_himno p {
        color: #FFF;
        font-family: "Lisu Bosa";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        padding: 25px;
        justify-content: center;
    }

    /*tITULO DEL HIMNO*/
    .informacion_himno h1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        top: 30px;
        padding: 10px;
    }
}


@media screen and (max-width: 390px) {
    .lugares_visitar {
        width: 100%;
        height: 650px;
        background: #7C0617;
        display: flex;
        flex-direction: column;
    }

    /*Titulo de lugares por visitar*/
    .lugares_visitar h1 {
        color: #FFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: static;
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    /*Imagen superior, Recordar que esta iamgen se multiplicara cuando la profe lo ensene */
    .img_superior,
    .img_inferior {
        width: 90%;
        height: 231px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
        position: static; /* muy importante */
        gap: 50px;
    }

    .container_imagenes{
        display: flex;
        flex-direction: column;
        align-items: center; /* centra horizontalmente */
        gap: 40px; /* espacio vertical entre las imágenes */
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .mapa {
        width: 100%;
        height: 706px;
        flex-shrink: 0;
        background: #1D1B29;
    }
    
    /*Ajustando iframe*/
    .mapa_google {
        width: 80%;
        height: 471px;
        flex-shrink: 0;
        border-radius: 10px;
        position: relative;
        left: 40px;
    }
    
    /*Titulo del mapa*/
    .mapa h1 {
        color: #FFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: relative;
        text-align: center;
        top: 50px;
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .mapa {
        width: 100%;
        height: 706px;
        flex-shrink: 0;
        background: #1D1B29;
    }
    
    /*Ajustando iframe*/
    .mapa_google {
        width: 80%;
        height: 471px;
        flex-shrink: 0;
        border-radius: 10px;
        position: relative;
        left: 75px;
    }
    
    /*Titulo del mapa*/
    .mapa h1 {
        color: #FFF;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: relative;
        text-align: center;
        top: 50px;
        
    }
}


