*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    
}

body{
    background-color: rgb(255, 255, 255);
}


.boton{
    background-color: rgb(228, 38, 38);
    font-size:medium;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}